@font-face {
    font-family: Amalina;
    src: url('./assets/fonts/Amalina.ttf')
}

body {
    background-image: url('./assets/images/blue_sky.jpeg');
    background-size: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    line-height: 0%;
}

.grid-container {
    display:grid;
}

.grid-heading {
    
}

form {
    overflow-y: hidden;
}
h2.registration-heading-1 {
    font-family: Amalina;
    color: white;
    font-size: 8vh;
}

h2.registration-heading-2 {
    font-family: Amalina;
    color: white;
    font-size: 7vh;
}

.para1 {
    color: white;
    font-size: 6vh;
}

.img-fresh-logo {
    width: 20vw;
}

.img-fresh-conference {
    width: 10vw;
}

