.iWdvNy {
    right: 2px !important;
    max-width: 18vw !important;
    height: 72vh !important;
    bottom: 115px !important;
}

.jpTpMD {
    max-width: 18vw !important; 
    right: 2px !important;
    bottom: 115px !important;
}

.fAHgD {
    display: none !important;
}